/* ############# GENERAL STUFF ############# */
.center {
    margin: auto;
    width: 50%;
}

.center_text {
  text-align: center;
}

/* ############# CROSS PAGE FORMATTING ############# */
.main_panel_color {
    margin-bottom: 3%;
    padding-left: 6%; 
    padding-right: 6%;
    background-color: #f2decd;
}

/* ############# HOME PAGE ############# */
/* .description_box {
    background-color: white;
    border-color: #c1272d;
    border-width: 10px;
    border-radius: 4px;
    position: relative;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
} */

p.info_box {
    /* font-family: Helvetica; */
    font-size: x-large;
    padding: 2%;
}

/* ############# MATCHES PAGE ############# */


/* ############# PROFILE PAGE ############# */


/* ############# LOGIN PAGE ############# */
