[[extend "layout.html"]]

<style>
  .auth-container {
    max-width: 80%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
  }
  a.button {
      margin-left: 10px;
  }
</style>

<section class="section" style="min-height: 1000px;">
  <div class="title has-text-centered">
    [[if globals().get('user') is None:]]
    Welcome to Pawfect Match!
      <p>
        <br>
        New user? <a class="button is-link" href="[[=URL('auth/register')]]">Sign up</a>
      </p>
      <br>
      <p>
        Existing user? <a class="button is-success" href="[[=URL('auth/login')]]">Log in</a>
        <a class="button is-success" href="[[=URL('auth/plugin/oauth2google/login', vars=dict(next='../index'))]]">Log in with Google</a>
      </p>
    [[else:]]
      Change your profile
    [[pass]]
  </div>
  [[=form]]
</section>


