[[extend 'layout.html']]

<style>
    [v-cloak] {
         display: none;
    }
</style>

<div class="title has-text-centered" style="padding-top: 2%;">
    Start Swiping
</div>

<div class="section" id="vue-target" v-cloak>

    <div v-if="no_zip" class="container block">
        <div> Please set your location and your preferences in order to receive better results! </div> <br>
    </div>


    <!-- <div>
        <p>IF THE BELOW FIELDS ARE EMPTY, CLICK API TEST</p>
        <a id="API_button" class="button is-success" @click="get_test()">
            <i class="fa fa-paw"></i>&nbsp; API TEST!
        </a> 
    </div> -->

    <!-- NO MATCH BUTTON -->
    <div class="columns is-mobile is-vcentered is-flex-desktop">
    <div class="column is-1">
        <a id="dislike_button" class="button is-info" @click="no_match()">
            <i class="fa fa-times"></i>
            <!-- &nbsp; No Match! -->
        </a>
    </div>
    
    <!-- DOG CARD -->
    <div class="column is-10">
        <!-- CURRENT PUP CARD DISPLAYED -->
        <div v-if="!api_loading && !no_results && !change_pref" class="container">
            <div v-for="p in pup_cards">
                <div v-if="disp_cards_idx == p._idx" class="box">
                    <div class="columns">
                        <div class="column is-three-fifths">
                            <figure class="image">
                                <img style="max-height: 600px; object-fit: cover; object-position: 100% 0;" v-bind:src="p.image" alt="photo" >
                            </figure>
                            <br>
                            <p class="" style="font-size: 250%; padding-bottom: 2%;"><strong>{{p.name}}</strong></p>
                        </div>

                        <div class="column is-two-fifths">
                            <!-- <p class="info_box"> Index: {{p._idx}} </p> -->
                            <p class="subtitle"> <strong>Breed: </strong>         {{p.breed}}      </p>
                            <p class="subtitle"> <strong>Gender: </strong>        {{p.gender}}     </p>
                            <p class="subtitle"> <strong>Age: </strong>           {{p.age}}        </p>
                            <p class="subtitle"> <strong>Size: </strong>          {{p.size}}       </p>
                            <p class="subtitle"> <strong>Fur: </strong>           {{p.fur}}        </p>
                            <div v-if="p.potty == 'True' " class="box">
                                <p class="subtitle"> <strong>Potty Trained: </strong> {{p.potty}}      </p>
                            </div>
                            <div v-if="p.kid == 'True' " class="box">
                                <p class="subtitle"> <strong>Kid Friendly: </strong>  {{p.kid}}        </p>
                            </div>
                            <br>
                            <p class="subtitle"> <strong>Potty Trained: </strong> {{p.potty}}      </p>
                            <p class="subtitle"> <strong>Kid Friendly: </strong>  {{p.kid}}        </p>
                            <p class="subtitle"> <strong>Location: </strong>      {{p.location}}        </p>
                            <!-- <p class="subtitle"> <strong>Distance: </strong>      {{p.location}}   </p> -->
                            <!-- <p class="info_box"> Url: {{p.url}} </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="(api_loading || no_results) && !change_pref" class="container block"> <br>
            <div>
                loading more doggos... <br>
                <!-- <i class="fa fa-spinner fa-spin" style="font-size:xxx-large; color:red" ></i> -->
                <img src="https://cdn.dribbble.com/users/115601/screenshots/4238006/doggy.gif"></img>
            </div>
        </div>
        <div v-if="change_pref" class="container block">
            <br>
            <div>
                <div class="title">We are brodening your preferences in order to give you results from your area </div> <br>
                <!-- <img src=""></img> -->
                <i class="fa fa-spinner fa-spin" style="font-size:xxx-large; color:red" ></i>
            </div>
        </div>
    </div>

    <!-- MATCH BUTTON -->
    <div class="column is-1">
        <a id="like_button" class="button is-danger" @click="match()">
            <i class="fa fa-heart"></i>
            <!-- &nbsp; Match! -->
        </a>
    </div>
    </div>
</div>

<script>
    let set_curr_dogs_url = "[[=XML(set_curr_dogs_url)]]";
    let get_curr_dogs_url = "[[=XML(get_curr_dogs_url)]]"; 
    let update_idx_url = "[[=XML(update_idx_url)]]";  
    let get_user_idx_url = "[[=XML(get_user_idx_url)]]";
    let add_match_url = "[[=XML(add_match_url)]]"  
    let get_pref_url = "[[=XML(get_pref_url)]]";
</script>

<script src="js/sugar.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/@petfinder/petfinder-js/dist/petfinder.min.js"></script>