[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="vue-matches" v-cloak>
    <!--Contact pop up-->
    <div class="modal" id="contact_modal" v-cloak>
        <div class="modal-background" onclick="show_contact_modal()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Contact Info</p>
            <button class="delete" onclick="show_contact_modal()" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <progress v-if="!loading" class="progress is-small" max="100">15%</progress>
            <div class="tile is-info">
                <span v-if= "loading">
                    <div>
                      email: {{email}}
                    </div>
                    <div>
                      number: {{phone}}
                    </div>
                    <div>
                      address: {{address}}
                    </div>
                    
                </span>
            </div>
          </section>
        </div>
    </div>
    <!-- delete pop up-->
    <div class="modal" id="delete_modal" v-cloak>
      <div class="modal-background" onclick="show_delete_modal()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Delete Match?</p>
        </header>
        <section class="modal-card-body">
          Are you sure you want to delete your match?          
        </section>
        <footer class="modal-card-foot">
          <button class="button is-danger" @click="delete_match(disp_cards_idx)">Delete</button>
          <button class="button" onclick="show_delete_modal()">Cancel</button>
        </footer>
      </div>
    </div>
    <!--Info pop up-->
    <div class="modal" id="info_modal">
        <div class="modal-background" onclick="show_info_modal()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Dog Info</p>
            <button class="delete" onclick="show_info_modal()" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <progress v-if="!loading" class="progress is-small" max="100">15%</progress>
            <div class="tile is-info">
                <i class="fa-solid fa-spinner-third fa-"></i>
                <span v-if="loading">
                    <div>
                      url: {{url}}
                    </div>
                    <div>
                      breed: {{breed}}
                    </div>
                    <div>
                      age: {{age}}
                    </div>
                    <div>
                      gender: {{gender}}
                    </div>
                    <div>
                      size: {{size}}
                    </div>
                    <div>
                      fur: {{fur}}
                    </div>
                    <div>
                      potty: {{potty}}
                    </div>
                    <div>
                      kid: {{kid}}
                    </div>
                    <div>
                      image: {{image}}
                    </div>
                </span>
            </div>
          </section>
        </div>
    </div>

    <div>
        <div class=" title has-text-centered" style="color: #985d2d;"><b>My Matches</b></div>
        <br>
      
        <div class="columns is-multiline">
          <!-- loop through -->
          <div class="column is-one-quarter-desktop is-half-tablet" v-for="match in match_cards" >
            <div class="card">
              <div class="card-image" @click="getMatchInfoFromAPI(match.dog_index)" style="cursor: pointer;">
                <figure class="image is-3by2">
                  <img v-bind:src="match.dog_images" alt="">
                </figure>
              </div>
              <div class="content" style="margin: 3%;cursor: pointer;" @click="getMatchInfoFromAPI(match.dog_index)">
                <h1>{{match.dog_name}}
                </h1>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item has-text-primary" id="tog" @click="getMatchContactFromAPI(match.dog_index)">
                  <i class="fa fa-phone fa-lg"></i>
              </a>
                <a class="card-footer-item has-text-danger" id="tog" @click="select_delete_match(match._idx)">
                  <i class="fa fa-trash fa-lg"></i>
                </a>
              </footer>
            </div>
          </div>
        </div>
    </div>
</div>

<script>
   let get_matches_id_url = "[[=XML(get_matches_id_url)]]";
   let get_curr_matches_url = "[[=XML(get_curr_matches_url)]]";
   let delete_match_url = "[[=XML(delete_match_url)]]";

    function show_contact_modal(){
        //console.log("click");
        var contact_modal = document.getElementById("contact_modal");
        contact_modal.classList.toggle('is-active')
    }
    function show_delete_modal(match_idx) {
        //console.log("click");
        var delete_modal = document.getElementById("delete_modal");
        delete_modal.classList.toggle('is-active')
    }

    function show_info_modal(){
        //console.log("click");
        var info_modal = document.getElementById("info_modal");
        info_modal.classList.toggle('is-active')
    }
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/sugar.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vue.js"></script>
<script src="../static/js/matches.js"></script>
