
[[extend 'layout.html']]

<div class="section">
    <div class="card" style="height: 850px; background-color: #f2decd;">
        <div class=" title has-text-centered" style="color: #985d2d;"><b>My Matches</b></div>
        <br>
        <div>
            <div class="row">
                <div class="columns is-mobile is-1">
                    <!--Insert for loop here to get 34mini cards-->
                    <div class="column is-one-quarter">
                        <div class="card" style="margin-left: 5px; height: 350px;">
                            Dog 1
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="card" style="height: 350px;">
                            Dog 2
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="card" style="height: 350px;">
                            Dog 3
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="card" style="margin-right: 5px; height: 350px;">
                            Dog 4
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="columns is-mobile is-1">
                    <!--Insert for loop here to get 4 mini cards-->
                    <div class="column is-one-quarter">
                        <div class="card" style="margin-left: 5px; height: 350px;">
                            Dog 1
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="card" style="height: 350px;">
                            Dog 2
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="card" style="height: 350px;">
                            Dog 3
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="card" style="margin-right: 5px; height: 350px;">
                            Dog 4
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>